{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/design.css' %}">
{% endblock css %}

{% block pageTitle %}Home - Hamro Khata{% endblock pageTitle %}

{% block content %}
<div class="p-3">
    <form action="{% url 'change-password' %}" method="post">
        {% csrf_token %}
        {{form | crispy}}
        <div>
            <input class="my-btn" type="submit" value="Change">
        </div>
    </form>
</div>
{% endblock content %}